// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/assets/bootstrap5/_variables.scss, paste it here and edit the value.

$primary:       #063573;
$secondary:     #181C26;
$info:          #0CF2DB;
$light:         #F2F2F2;
$dark:          #08090D;

$enable-shadows:              true;
$enable-gradients:            true;
$enable-negative-margins:     true;